[submodule "fdk-aac"]
	path = fdk-aac
	url = https://github.com/mstorsjo/fdk-aac.git
[submodule "libopenaptx"]
	path = libopenaptx
	url = https://github.com/pali/libopenaptx.git
[submodule "bluez-alsa"]
	path = bluez-alsa
	url = https://github.com/Arkq/bluez-alsa.git